/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/AFlQwaBaW4u6.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/7DJl79Sy5c4s.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/daMuBg6AGHZY.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/BZwcfm5cZeEl.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/hvUUWK9Sw3Lx.otf') format('truetype');
}