/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/wF6sKqbGlOj2.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/HcR6v88QVKQK.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/kNQwcs3rgMsa.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/8MIAhgUlLiiV.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/eSSxtGVFX7hf.otf') format('truetype');
}