/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/geDOuKv9YR6i.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/hfsYdB2HhkvF.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/0DioQXdhQahU.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/zFJqJQllAXI5.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/CbONmUrRYiuc.otf') format('truetype');
}