/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/iUkWfi8t3vvS.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/lx44UZ3vbarz.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/MUPskFzJhlXj.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/ox8o1td1zYuz.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/mwW94qlZlZvJ.otf') format('truetype');
}