/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/8ZjVsjYkAvYv.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/MPIPm6Co4xzL.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/5EOoM7yJjIIk.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/S6VzZB7Ro9Tb.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/enqh1xdBhLFQ.otf') format('truetype');
}