/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/IxzJZpRUGWbm.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/g4F5KvBPg3DK.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/5Bnv5jayGnhE.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/bYho0pTcoZWf.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/SLq56SaE6uz3.otf') format('truetype');
}