/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/YyKpKfjh07ub.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/k8OVDwSMlT3m.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/iY0w51XL4x44.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/qBR6IRFSOz0m.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/dRvqtRQfI8mz.otf') format('truetype');
}