/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/JW13yX57REh9.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/hCJpsn1bYJvp.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/56xCSgGM3Acg.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/c65JOKWlK27X.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/rUg84NxIm3Xa.otf') format('truetype');
}