/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/8vgAVfOX2qhy.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/SRMaLWqGz5LT.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/fEFR8qaCDs4g.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/ms8Feeqsv3Do.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/5qFf5LuQciNo.otf') format('truetype');
}